{% extends 'base.html' %}
{% block page_content %}

{% load bootstrap_themes %}
{#        bootstrap_styles theme's are: default, united, cosmo, cerulean, cyborg, darkly, flatly, journal, litera,#}
{#        lumen, simplex, slate, spacelab, superhero, yeti #}
{#{% bootstrap_script use_min=True %}#}
{% bootstrap_styles theme='flatly' type='css' %}
{% load static %}
<div class ="container">
    <div class="row">
        <a href="{% url 'ploki:ploki_index' %}">
            <img src="{% static "images/osaamiset_logot_3.png" %}" class="img-responsive">
        </a>
    </div>
</div>
    <hr>
<nav class="col-sm-2 sidenav">
         <ul>
        {% for post in posts %}
                <li><a href="{% url 'ploki:ploki_detail' post.pk%}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
</nav>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-10">
            <div class="col-md-8">
                <h3>
                    <a href="{% url 'ploki:graph' %}">Matkasta Djangon maailmaan (blogimerkinnät / kuukausi)</a>
                </h3>
                <hr>
                <div>
                {% for post in posts %}
                        <h3>
                        <div class="col-sm-1">
                            <img src="{% static "images/"%}{{ post.kuvitusta }}" class="img-responsive">
                        </div>
                            <div class="col-sm-11">
                            <a href="{% url 'ploki:ploki_detail' post.pk%}">{{ post.title }}</a>
                            </div>
                        </h3>
                <small>
                    {{ post.created_on.date }} |&nbsp;
                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                    <a href="{% url 'ploki:ploki_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                    {% endfor %}
                </small>
                <p>{{ post.body | slice:":400" }}...</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}