{% extends 'base.html' %}
{% block page_content %}

{% load bootstrap_themes %}
{#        bootstrap_styles theme's are: default, united, cosmo, cerulean, cyborg, darkly, flatly, journal, litera,#}
{#        lumen, simplex, slate, spacelab, superhero, yeti #}
{#{% bootstrap_script use_min=True %}#}

{% bootstrap_styles theme='default' type='css' %}
{% load static %}
<style>
    p{
        font-size: 24px;
        line-height: 2;
    }
</style>

<div class ="container-fluid">
    <a href="{% url 'ploki:ploki_index' %}">
        <img src="{% static "images/osaamiset_logot_4.png" %}" class="img-responsive" style="width: 10%">
    </a>
</div>

<div class="container">
    <div class="row content">
        <div class="col-sm-12">
            <div class="col-md-8">
                <div>
                    <small>
                        {{ post.julkaistu_pvm }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                            <a href="{% url 'ploki:ploki_category' category.name %}">
                                {{ category.name }}
                            </a>&nbsp;
                        {% endfor %}
                    </small>
                    <h2>{{ post.title }}</h2>
{#                if exist niin näytetään kaikki kuvat#}
                    <img src="{% static "images/"%}{{ post.kuvitusta }}" class="img-responsive" width="80%">
{#                    <img src="{% static "images/"%}{{ post.kuvitusta2 }}" class="img-responsive">#}
{#                    <img src="{% static "images/"%}{{ post.kuvitusta3 }}" class="img-responsive">#}
                    <hr>
                    <p>{{ post.body | linebreaksbr }}</p><br>
                    <p><a href="{{ post.linkki }}" target="_blank">{{ post.linkkinimi }}</a></p>
                    <hr>
                    <h4>Kerro mielipiteesi:</h4>
                    <div>
                        <form action="/ploki/{{ post.pk }}/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.comment_author }}
                            </div>
                            <div class="form-group">
                                {{ form.comment_body }}
                            </div>
                            <button type="submit" class="btn btn-primary">Lähetä</button>
                        </form>
                    </div>
                    <h4>Kommentit:</h4>
                    {% for comment in comments %}
                        <p>
                            On {{ comment.comment_created_on.date }}&nbsp;
                            <b>{{ comment.comment_author }}</b> kirjoitti:
                        </p>
                        <p>{{ comment.comment_body }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}