{% extends 'base.html' %}
{% block page_content %}
{% load bootstrap_themes %}
{#        bootstrap_styles theme's are: default, united, cosmo, cerulean, cyborg, darkly, flatly, journal, litera,#}
{#        lumen, lux, materia, minty, pulse, sandstone, simplex, sketchy, slate, solar, spacelab, superhero, yeti #}
{#{% bootstrap_script use_min=True %}#}
{% bootstrap_styles theme='minty' type='css' %}
{% load static %}
    <div class ="container-fluid">
        <a href="{% url 'ploki:ploki_index' %}">
            <img src="{% static "images/osaamiset.gif" %}" class="img-responsive">
{#            <button type="button" class="btn btn-outline-primary">Home</button>#}
        </a>
    </div>
    <hr>

    <nav class="col-sm-3 sidenav">
        <ul>
            {% for post in posts %}
{#                <li><a href="{% url 'ploki:ploki_detail' post.pk%}">{{ post.created_on }}: {{ post.title }}</a></li>#}
                <li><a href="{% url 'ploki:ploki_detail' post.pk%}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-9">
                <div class="col-md-8 offset-md-2">
                    <h1>{{ category | title }}</h1>
                    <hr>
                    {% for post in posts %}
                    <h2><a href="{% url 'ploki:ploki_detail' post.pk%}">{{ post.title }}</a></h2>
                    <small>
                        {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                        <a href="{% url 'ploki:ploki_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                        {% endfor %}
                    </small>
                    <p>{{ post.body | slice:":400" }}...</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}